body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.logo-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
}
